{{ if .RecentHighlights }}
<details id="highlights" class="section" open>
    <summary class="section__heading">
        <h2 class="section__title">Highlights</h2>
    </summary>
    <div class="section__content">
        <div class="highlights">
            {{ range .RecentHighlights }}
            <div class="highlights__item">
                <h3 class="highlights__header">{{ with .Icon }}<i class="{{ . }} highlights__icon"></i> {{ end }}{{ .Header | safeHTML
                    }}</h3>
                {{ range .Details }}
                <p class="highlights__detail">{{ . | safeHTML }}</p>
                {{ end }}
            </div>
            {{ end }}
        </div>
    </div>
</details>
{{ end }}
